
<div class="">
    <div ng-include="'./navbar.html'"></div>
  <div class="page-content-wrapper full-height">
    <!-- START PAGE CONTENT -->
    <div class="content full-height">
      <!-- START APP -->
      <!-- START SECONDARY SIDEBAR MENU-->
      <div ng-include="'./sidenavbar.html'"></div>
      <!-- END SECONDARY SIDEBAR MENU -->
      <div class="inner-content full-height ">
        <!-- <h1>Driver List</h1>
        <span>{{message}}</span> -->
        <div class="card card-transparent">
          <div class="card-header ">
            <div class="card-title">Drivers List
            </div>
            <div class="pull-right">
              <div class="col-xs-12">
                <button aria-label="" id="show-modal" class="btn btn-primary btn-cons"><i class="pg-icon">add</i> Add Driver
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <table class="table table-hover demo-table-dynamic table-responsive-block" id="tableWithDynamicRows">
              <thead>
                <tr>
                  <th>App name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="v-align-middle">
                    <p>Hyperlapse</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Facebook</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Twitter</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Foursquare</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
                <tr>
                  <td class="v-align-middle">
                    <p>Angry Birds</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Description goes here</p>
                  </td>
                  <td class="v-align-middle">
                    <p>FREE</p>
                  </td>
                  <td class="v-align-middle">
                    <p>Notes go here</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END APP -->
    </div>
    <!-- END PAGE CONTENT -->
  </div>
</div>