<div class="fixed-header menu-pin menu-behind">
  <div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
      <!-- START Background Caption-->
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <h1 class="semi-bold text-white">
          Meet pages - The Trucking App is a software application designed.</h1>
        <p class="small">
          Our trucking app is a software application designed to facilitate various operations and tasks associated with
          the trucking and logistics industry. ©2024-2026 All Rights Reserved. Pages® is a registered trademark of ARCS
          Infotech.
        </p>
      </div>
      <!-- END Background Caption-->
    </div>
    <div class="login-container bg-white" style="height: 100vh;">
      <div class="p-l-50 p-r-50 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <img src="assets/img/logo-48x48_c.png" alt="logo" data-src="assets/img/logo-48x48_c.png" data-src-retina="assets/img/logo-48x48_c@2x.png" width="48" height="48">
        <h1 class="semi-bold text-black">Reset Password</h1>
        <!-- START Login Form -->
        <p class="text-danger" ng-show="resetPasswordMessage">{{resetPasswordMessage}}</p>
        <form id="form-login" class="p-t-15" ng-submit="resetPassword()">
          <!-- START Form Control-->
          <input type="hidden" ng-model="resetPasswordData.reset_token" value="{{resetPasswordData.reset_token}}">
          <div class="form-group form-group-default">
            <label>Password</label>
            <div class="controls">
              <div class="password-field" style="display:flex; width:100%;">
                <input type="password" autocomplete="off" class="form-control" name="password" id="password" placeholder="Credentials"
                  ng-model="resetPasswordData.new_password" required>
                <img src="https://static.thenounproject.com/png/4334035-200.png" width="1%" height="1%"
                  id="togglePassword"
                  style="display: inline; margin: auto; margin-left: -5%; vertical-align: middle; width: 20px; cursor: pointer;">
              </div>
            </div>
          </div>
          <div class="form-group form-group-default">
            <label>Confirm Password</label>
            <div class="controls">
              <input type="password" autocomplete="off" class="form-control" name="confirmPassword" placeholder="Credentials"
                ng-model="resetPasswordData.confirmPassword" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-end">
              <button aria-label="" class="btn btn-primary btn-lg m-t-10" type="submit">Save Password</button>
            </div>
          </div>
          <!-- END Form Control-->
        </form>
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-9 no-padding m-t-10">
              <p class="small-text normal hint-text">
                ©2024-2026 All Rights Reserved. Pages® is a registered trademark of ARCS Infotech. <a href="">Cookie
                  Policy</a>, <a href=""> Privacy and Terms</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Login Right Container-->
  </div>

</div>